LatestArticlesView {
    layout: vertical;
    width: 100%;
    height: 100%;
    layout: grid;
    grid-size: 1 2;
    grid-rows: 90% 10%;
}

#latest_button {
    width: 100%;
    height: 1fr;
}

#feeds_option_list {
    width: 100%;
    height: 14fr;
}
